<p>
<a href="{{ url('pullup_api_user_password_remind_key_validate', {key: token, email: email}) }}">Resetuj hasło</a>
</p>
<br><br>
<p>
lub skopiuj link:
{{ url('pullup_api_user_password_remind_key_validate', {key: token, email: email}) }}
</p>