{% extends 'front/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/build/front.css">
{% endblock %}
{% block body %}
    
    <div id="root"></div>

{% endblock %}